<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Contactanos para que puedas sacarte todas tus dudas.">
    <meta name="keywords" content="contacto, tienda, ropa, camisas, calzado, indumentaria, jeans, denim, botas, abrigos, sweaters, sacos, montgomery, buzos, remeras, chombas, polos, camisetas, pantalones, borcegos, zapatos">
    <title>LERO LERO - Contacto</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="./../assets/css/index.css">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <script src="https://kit.fontawesome.com/168160de4f.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <a class="navbar-brand" href="./../index.html">
                <img src="./../img/logo.png" alt="">
                <h1>LERO LERO</h1>
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="./../index.html">INICIO<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./productos.html">PRODUCTOS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./ingresar.html">INGRESAR</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./nosotros.html">NOSOTROS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">CONTACTO</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="fas fa-cart-plus cart">
                                <div class="prod-cart">2</div>
                            </i>                         
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <section class="contact overlay-bg">
            <div class="overlay-cover">
                <h2>ENVIÁ TU MENSAJE</h2>
                <form class="form-contact">
                    <div class="form-group">
                        <label for="name">Nombre</label>
                        <input type="text" class="form-control" id="name">
                    </div>
                    <div class="form-group">
                        <label for="lastName">Apellido</label>
                        <input type="text" class="form-control" id="lastName">
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email">
                    </div>
                    <div class="form-group">
                        <label for="message">Mensaje</label>
                        <textarea class="form-control" id="message"></textarea>
                    </div>
                    <button type="submit" class="button">Enviar</button>
                </form>
                </div>
        </section>
    </main>
    <footer>
        <div class="content-footer">
            <a href="./../index.html"><img src="./../img/logo.png" alt="logo miTienda"></a>
            <p class="text-footer">&nbsp;Todos los derechos reservados - 2021</p><!-- Copyright-->
        </div>
    </footer>
    <!-- Icono Whatsapp -->
    <a href="https://wa.me/5211234567890?text=Me%20gustaría%20saber%20el%20precio%20del%20coche" class="whatsapp" target="_blank"> <i class="fa fa-whatsapp whatsapp-icon"></i></a>
    <!-- Icono Instagram -->
    <a href="https://www.instagram.com/lerolero.store/?hl=es" target="_blank"><i class="fab fa-instagram instagram"></i></a>

    <!-- JS Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
</body>
</html>