/********** VARIABLES **********/

$main-color: #FB4F4F;
$second-color: #2D7CAD;
$text-color: #808080;
$white-color: #ffffff;
$bg-color: #eee;
$tablet: 481px;
$laptop: 769px;
$desktop: 1201px;

/********** GENERALES **********/ 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
}

.container {
    padding: 0;
}

.container, .container-sm {
    @media (min-width: 576px) {
        max-width: none;
    }
}

::-webkit-scrollbar {
    display: none;
}

h1 {
    color: $main-color;
    margin: 0;
    font-size: 25px;
}

h2 {
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    @media only screen and (min-width: $tablet){
        font-size: 40px;;
    }
}

@for $i from 2 through 6 {
    h#{$i} {color: $second-color;}
}

.descripcion {
    color: $second-color;
}

li {
    list-style: none;
}

a {
     color: $main-color;
     text-decoration: none;
}

p {
    color: $text-color;
}

.boton {
    padding: 10px;
    width: 100px;
    background-color: $main-color;
    border: none;
    border-radius: 5px;
    color: $white-color;
    font-weight: 700;
    font-size: 12px;
}

.boton:hover {
    cursor: pointer;
    opacity: 0.7;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/********** MIXIMS **********/

@mixin padding-top-bottom($top, $bottom){
    padding: $top $bottom;
}

/********** HEADER **********/

/********** MENU MOBILE **********/

.link-active {
    border-bottom: solid 2px $main-color;
}

.navbar {
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    padding: 10px 0;
    background-color: $white-color!important;
    @media only screen and (min-width: $tablet){
        padding: 10px 100px;
    }
    .navbar-brand {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0 10px;
        .navbar_logo img {
            width: 45px;
            margin-bottom: 1rem;
        }
        .navbar_brand--name {
            display: flex;
            flex-direction: column;
            p {
                text-align: right;
                font-size: 12px;
                color: $second-color; 
            }
        }
    }
    .navbar-toggler {
        margin-bottom: 1rem;
        margin-right: 15px;
        @media only screen and (min-width: $desktop){
            display: none;
        }
        i {
            font-size: 35px;
            color: $main-color;
        }
    }
    ul {
        li {
            @extend .flex-column;
            a {
                font-size: 30px;
                @extend .flex-column;
                color: $main-color!important;
                transition: transform 250ms;
            }
            a:hover {
                @media only screen and (min-width: $desktop){
                    opacity: 0.5;
                    transform: translateY(-2px);
                    text-decoration: none;
                }
            }
        }
    }
    .navbar-collapse {
        background-color: $white-color;
        ul {
            li {
                a:hover {
                    opacity: 0.5;
                }
            }
        }
        @media only screen and (min-width: $desktop){
            display: none;
        }
    }
    .menu-desktop {
        display: none;
        ul {
            li {
                @include padding-top-bottom(0, 10px);
                a {
                    font-size: 20px;
                }
            }
        }
        .cart {
            text-decoration: none;
            a {
                text-decoration: none;
            }
            i {
                color: $main-color;
                font-size: 18px;
                position: relative;
            }
            .prod-cart {
                width: 12px;
                height: 12px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                background-color: $white-color;
                position: absolute;
                top: 12px;
                left: 12px;
                color: $main-color;
                font-size: 10px;
                font-weight: 700; 
            }
        }
        @media only screen and (min-width: $desktop){
            display: block;
            .navbar-nav {
                display: flex;
                flex-direction: row;
            }
        }
    }
}

.back-navbar {
    height: 10vh;
}

/********** MAIN **********/

.main {
    @extend .flex-column;
}

.main-vh-90 {
    height: calc(90vh - 30px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/********** INDEX **********/

.position-relative {
    position: relative;
}

.carousel-item {
    height: 90vh;
}

.carousel-item img {
    width: 100vw;
    height: 90vh;
    object-fit: cover;
}

.promos-cover {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    h2 {
        color: $white-color;
        font-weight: 700;
        @media only screen and (min-width: $tablet){
            font-size: 60px;
        }
    }
    p {
        color: $white-color;
        text-align: center;
        padding: 0 10px;
        @media only screen and (min-width: $tablet){
            font-size: 30px;
        }
    }
}

/********** FOOTER **********/

.footer {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $white-color;
    .logo-footer img {
        width: 22px;
    }
    .text-footer {
        font-size: 12px;
        padding-left: 5px;
        margin-bottom: 0;
    }
}

/********** PRODUCTOS **********/

.productos {
    @extend .flex-column;
    h2 {
        padding: 0;
    }
    @media only screen and (min-width: $tablet){
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
    }
    .producto {
        margin: 0 0 5px 0 ;
        @media only screen and (min-width: $tablet) {
            margin: 0 2px 5px 2px;
        }
    }
    .producto__detalle {
        @include padding-top-bottom(10px, 20px);
        margin: 5px 0;
        @media only screen and (min-width: $tablet) {
            margin: 3px;
        }
    }
}

/********** INGRESAR **********/

.main-ingresar {
    background-image: url(./../../img/cover.jpeg);
    background-position: center;
    background-size: cover;
    .ingresar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        h2 {
            color: $white-color;
        }
        fieldset{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            .form-ingresar {
                width: 90%;
                padding: 10px;
                label {
                    color: $white-color;
                    margin-top: 10px;
                }
                input {
                    width: 100%;
                }
                button {
                    margin-top: 20px;
                }
                button a {
                    color: $white-color;
                }
                a {
                    text-decoration: none;
                }
                p {
                    color: $white-color;
                    font-weight: 700;
                    margin-bottom: 0;
                    margin-top: 7px;
                    font-weight: 300;
                }
                p:hover {
                    opacity: 0.7;
                }
            }
        }
    }
}

/********** MI CUENTA **********/

.datosPersonales {
    @extend .flex-column;
}

.comprasRealizadas {
    @extend .flex-column;
    .comprasRealizadasProductos {
        margin: 0;
        display: flex;
        justify-content: center;
        .compra {
            @include padding-top-bottom(10px, 0);
            min-width: 200px;
            max-width: 300px;
            margin: 3px 0;
            @media only screen and (min-width: $tablet) {
                margin: 5px;
            }
        }
    }
}

/********** NOSOTROS **********/

.nosotros {
    @extend .flex-column;
    justify-content: flex-start;
    @media only screen and (min-width: $tablet){
        padding: 0 20px;
        height: 83vh;
        .imagen-descripcion {
            padding-top: 50px;
            display: flex;
            align-items: center;
        }
    }
    img {
        width: 100%;
        @media only screen and (min-width: $desktop){
            width: 50%;
        }
    }
    .nosotrosDescripcion {
        padding: 10px;
        p {
            font-size: 20px;
            text-align: justify;
            @media only screen and (min-width: $tablet){
                font-size: 35px;
            }
        }
    }
}

/********** CONTACTO **********/
.main-contacto {
    background-image: url(./../../img/cover.jpeg);
    background-position: center;
    background-size: cover;
    .contacto {
        background-color: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 100%;
        h2 {
            color: $white-color;
            text-align: center;
            padding: 10px;
        }
        @media only screen and (min-width: $tablet){
            height: 80vh;
            justify-content: flex-start;
        }
        @media only screen and (min-width: $desktop){
            height: 83vh;
            justify-content: flex-start;
        }
        fieldset {
            width: 90%;
            padding: 10px;
            margin: auto;
            label {
                color: $white-color;
            }
            @media only screen and (min-width: $tablet){
                width: 60%;
                padding-top: 0;
            }
            @media only screen and (min-width: $desktop){
                width: 400px;
                padding-top: 50px;
            }
        }
    }
}

/********** 404 **********/

.error-404 {
    width: 400px;
}

/********** REDES **********/

.whatsapp {
    position:fixed;
    width:40px;
    height:40px;
    bottom:40px;
    right:10px;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    font-size:20px;
    z-index:100;
    display: flex;
    justify-content: center;
    align-items: center;
    @media only screen and (min-width: $desktop){
        width:60px;
        height:60px;
    }
    .whatsapp-icon {
        @media only screen and (min-width: $desktop){
            font-size: 35px;
        }
    }
}

.whatsapp:hover {
    color: $white-color;
    text-decoration: none;
    opacity: 0.7;
}

.instagram {
    position:fixed;
    width:40px;
    height:40px;
    bottom:85px;
    right:10px;
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    color:#FFF;
    border-radius:50px;
    font-size:20px;
    z-index:100;
    display: flex!important;
    justify-content: center;
    align-items: center;
    @media only screen and (min-width: $desktop){
        width:60px;
        height:60px;
        bottom: 105px;
        font-size: 35px;
    }
}

.instagram:hover {
    color: $white-color;
    text-decoration: none;
    opacity: 0.7;
}