/********** VARIABLES **********/

$main-color: #FB4F4F;
$second-color: #2D7CAD;
$text-color: #808080;
$white-color: #ffffff;
$bg-color: #eee;
$tablet: 768px;
$desktop: 1024px;

$redes:(
    instagram: #DD7A9A,
    whatsapp: #00BFA5
);

/********** GENERALES **********/ 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
}

.container {
    padding: 0;
}

.container, .container-sm {
    @media (min-width: 576px) {
        max-width: none;
    }
}

h1 {
    color: $main-color;
    margin: 0;
    font-size: 25px;
}

h2 {
    font-size: 22px;
}

@for $i from 2 through 6 {
    h#{$i} {color: $second-color;}
}

.descripcion {
    color: $second-color;
}

li {
    list-style: none;
}

a {
     color: $main-color;
     text-decoration: none;
}

p {
    color: $text-color;
}

.boton {
    padding: 10px;
    width: 100px;
    background-color: $main-color;
    border: none;
    border-radius: 5px;
    color: $white-color;
    font-weight: 700;
    font-size: 12px;
}

.boton:hover {
    cursor: pointer;
    opacity: 0.5;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/********** MIXIMS **********/

@mixin padding-top-botoom($top, $bottom){
    padding: $top $bottom;
}

/********** HEADER **********/

/********** MENU MOBILE **********/

.navbar {
    background-color: $bg-color!important;
    height: 12vh;
    display: flex;
    flex-direction: row;
    margin: auto;
    padding: 10px 0;
    @media only screen and (min-width: $tablet){
        padding: 10px 100px;
    }
    .navbar-brand {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0 10px;
        .navbar_logo img {
            width: 45px;
            margin-bottom: 1rem;
        }
        .navbar_brand--name {
            display: flex;
            flex-direction: column;
            p {
                text-align: right;
                font-size: 12px; 
            }
        }
    }
    .navbar-toggler {
        margin-bottom: 1rem;
        margin-right: 10px;
        @media only screen and (min-width: $desktop){
            display: none;
        }
        i {
            font-size: 25px;
            color: $main-color;
        }
    }
    ul {
        li {
            @extend .flex-column;
            a {
                @include padding-top-botoom(20px, 0);
                font-size: 40px;
                @extend .flex-column;
                color: $main-color!important;
                transition: transform 250ms;
            }
            a:hover {
                @media only screen and (min-width: $desktop){
                    opacity: 0.5;
                    transform: translateY(-2px);
                }
            }
        }
    }
    .navbar-collapse {
        background-color: $bg-color;
        ul {
            li {
                a:hover {
                    opacity: 0.5;
                }
            }
        }
        @media only screen and (min-width: $desktop){
            display: none;
        }
    }
    .menu-desktop {
        display: none;
        ul {
            li {
                @include padding-top-botoom(0, 10px);
                a {
                    font-size: 20px;
                }
            }
        }
        @media only screen and (min-width: $desktop){
            display: block;
            .navbar-nav {
                display: flex;
                flex-direction: row;
            }
        }
    }
}

.back-navbar {
    height: 12vh;
}

@each $red, $color in $redes {
    .#{$red}:hover{
        color: $color;
        transform: translateY(0);
        @media only screen and (min-width: $tablet){
            transform: translateY(-1px);
        }
    }
}

/********** MAIN **********/

.main {
    background-color: $bg-color;
    @extend .flex-column;
    .main__titulo {
        padding: 10px;
    }
}

.main-vh-85 {
    height: 83vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/********** INDEX **********/

.position-relative {
    position: relative;
}

.bg-cover {
    background-image: url(./../../img/cover.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.promos-cover {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2 {
        color: $white-color;
    }
}

/********** FOOTER **********/

.footer {
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $bg-color;
    .logo-footer img {
        width: 22px;
    }
    .text-footer {
        font-size: 12px;
        padding-left: 5px;
        margin-bottom: 0;
    }
}

/********** PRODUCTOS **********/

.productos {
    @extend .flex-column;
    @media only screen and (min-width: $tablet){
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    }
    .producto {
        margin: 0 0 5px 0 ;
        @media only screen and (min-width: $tablet) {
            margin: 0 2px 5px 2px;
        }
    }
    .producto__imagen {
        width: 100%;
    }
    .producto__detalle {
        @include padding-top-botoom(10px, 20px);
        margin: 5px 0;
        @media only screen and (min-width: $tablet) {
            margin: 3px;
        }
    }
}

/********** INGRESAR **********/

.ingresar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    fieldset{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .form-ingresar {
            label {
                color: $white-color;
            }
            input {
                margin-bottom: 10px;
            }
            button {
                margin-top: 7px;
            }
            button a {
                color: $white-color;
            }
            p {
                color: $white-color;
                font-weight: 700;
                margin-bottom: 0;
                margin-top: 7px;
                font-weight: 300;
            }
            p:hover {
                opacity: 0.5;
            }
        }
    }
}

/********** MI CUENTA **********/

.compra {
    @include padding-top-botoom(10px, 0);
    min-width: 200px;
    max-width: 300px;
    margin: 3px 0;
    @media only screen and (min-width: $tablet) {
        margin: 0 0 5px 0;
    }
}

/********** NOSOTROS **********/

.nosotros {
    @extend .flex-column;
    height: 90vh;
    @media only screen and (min-width: $desktop){
        flex-direction: row;
    }
    img {
        width: 100%;
        @media only screen and (min-width: $desktop){
            width: 60%;
        }
    }
    .nosotrosDescripcion {
        padding: 0 0 0 10px;
        p {
            font-size: 20px;
            text-align: justify;
        }
    }
}

/********** CONTACTO **********/

.contacto {
    width: 100%;
    @extend .flex-column;
    fieldset {
        @media only screen and (min-width: $tablet){
            width: 60%;
        }
        @media only screen and (min-width: $desktop){
            width: 400px;
        }
        legend {
            color: $second-color;
            font-size: 30px;
        }
    }
}

/********** 404 **********/

.error-404 {
    width: 400px;
}