/********** IMPORTS **********/

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600;700&display=swap');

/********** VARS **********/

$main-color: #FB4F4F;
$second-color: #2D7CAD;
$text-color: #808080;
$white-color: #ffffff;
$bg-color: #eee;
$tablet: 576px;
$laptop: 992px;
$desktop: 1201px;

/********** GLOBALS **********/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    /* font-family: 'Raleway', sans-serif; */
}


h2 {
    color: $second-color;
    margin: 0;
    padding: 5px 0;
}

h3 {
    color: $second-color;
    margin: 0;
    padding: 5px 0;
}

.button {
    padding: 10px;
    width: 100px;
    background-color: $main-color;
    border: none;
    border-radius: 5px;
    color: $white-color;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
}

.button:hover {
    cursor: pointer;
    opacity: 0.7;
}

.navbar {
    .navbar-brand {
        display: flex;
        align-items: center;
        img {
            width: 45px;
        }
        h1 {
            color: $main-color;
            font-size: 25px;
            margin: 0;
        }
    }

    .navbar-toggler {
        i {
            font-size: 25px;
            color: $main-color;
        }
    }

    .nav-item {
        a {
            color: $main-color!important;
            transition: transform 250ms;
        }
        a:hover {
            opacity: 0.5;
            transform: translateY(-2px);
        }
        .active {
            font-weight: 700;
            @media only screen and (min-width: $laptop){
                border-bottom: solid 2px $main-color;
            }
        }
        .nav-link {
            @media only screen and (min-width: $laptop){
                padding: 0 .5rem;
            }
        }
    }

    .cart {
        position: relative;

        .prod-cart {
            width: 12px;
            height: 12px;
            position: absolute;
            top: 10px;
            left: 10px;
            border-radius: 50%;
            background-color: $main-color;
            color: $white-color;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 10px;
        }
    }
}

/********** FOOTER **********/

.content-footer {
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0;

    img {
        width: 30px;
    }

    p {
        margin: 0;
    }
}

/********** INDEX **********/

.content-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0;

    img {
        width: 30px;
    }

    p {
        margin: 0;
    }
}

.carousel {
    position: relative;

    .carousel-item {
        img {
            width: 100vw;
            height: 90vh;
            object-fit: cover;
        }
    }

    .promos-cover {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        h2 {
            color: white;
        }
        
        p {
            color: white;
            text-align: center;
            padding: 0 10px;
        }
    }
}

/********** PRODUCTS **********/

.productos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .content-products {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        .card{
            margin: 5px;
        }
    }
}

/********** LOGIN **********/

.login {
    height: 80vh;
    .form-login {
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .form-group label {
            color: $white-color;
            margin: 0;
        }
        p {
            padding: 3px 0;
            margin: 0;
            color: $white-color;
        }
        p:hover {
            opacity: 0.7;
        }
    }

}

.overlay-bg {
    background-image: url(./../../img/cover.jpeg);
    background-position: center;
    background-size: cover;
}

.overlay-cover {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    h2 {
        color: $white-color;
    }
    button {
        margin-bottom: 10px;
    }
}

/********** ABOUT **********/

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    .about-content {
        display: flex;
        flex-direction: column;
        img {
            width: 100%;
        }
    }
}

/********** CONTACT **********/

.contact {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    .form-group {
        label {
            color: $white-color;
        }
        textarea {
            height: 150px;
        }
    }
}