/********** IMPORTS **********/

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600;700&display=swap');

/********** VARS **********/

$main-color: #FB4F4F;
$second-color: #2D7CAD;
$text-color: #808080;
$white-color: #ffffff;
$bg-color: #eee;
$tablet: 576px;
$laptop: 992px;
$desktop: 1201px;

/********** GLOBALS **********/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

body {
    // font-family: 'Josefin Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
}

.container {
    padding: 0 40px;
}


h2 {
    color: $second-color;
    margin: 0;
    padding: 15px 0;
    text-align: center;
}

h3 {
    color: $second-color;
    margin: 0;
    padding: 5px 0;
}

p {
    color: $text-color;
}

.button {
    padding: 10px;
    width: 100px;
    background-color: $main-color;
    border: none;
    border-radius: 40px;
    color: $white-color;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
}

.button:hover {
    cursor: pointer;
    opacity: 0.7;
}

.navbar {
    .navbar-brand {
        display: flex;
        align-items: center;
        img {
            width: 45px;
        }
        h1 {
            color: $main-color;
            font-size: 25px;
            margin: 0;
        }
    }

    .navbar-toggler {
        i {
            font-size: 25px;
            color: $main-color;
        }
    }

    .nav-item {
        a {
            color: $main-color!important;
            transition: transform 250ms;
        }
        a:hover {
            opacity: 0.5;
            transform: translateY(-2px);
        }
        .active {
            font-weight: 700;
            @media only screen and (min-width: $laptop){
                border-bottom: solid 2px $main-color;
            }
        }
        .nav-link {
            @media only screen and (min-width: $laptop){
                padding: 0 .5rem;
            }
        }
    }

    .cart {
        position: relative;

        .prod-cart {
            width: 12px;
            height: 12px;
            position: absolute;
            top: 10px;
            left: 10px;
            border-radius: 50%;
            background-color: $main-color;
            color: $white-color;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 10px;
        }
    }
}

/********** FOOTER **********/

.content-footer {
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0;

    img {
        width: 30px;
    }

    p {
        margin: 0;
    }
}

/********** INDEX **********/

.carousel {
    position: relative;
    padding-top: 70px;
    .carousel-item {
        img {
            width: 100vw;
            height: 80vh;
            object-fit: cover;
        }
    }
    .promos-cover {
        padding-top: 80px;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        h2 {
            color: white;
        }
        
        p {
            color: white;
            text-align: center;
            padding: 0 10px;
        }
    }
}

/********** PRODUCTS **********/

.productos {
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .content-products {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        .card{
            margin: 5px;
            .price {
                color: $second-color;
                font-weight: 700;
            }
        }
    }
}

/********** LOGIN **********/

.login {
    height: 80vh;
    .form-login {
        width: 300px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @media only screen and (min-width: $laptop){
            width: 400px;
        } 
        .form-group label {
            color: $white-color;
            margin: 0;
        }
        p {
            padding: 3px 0;
            margin: 0;
            color: $white-color;
        }
        p:hover {
            opacity: 0.7;
        }
    }

}

.overlay-bg {
    background-image: url(./../../img/cover.jpeg);
    background-position: center;
    background-size: cover;
}

.overlay-cover {
    padding-top: 70px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    h2 {
        color: $white-color;
    }
    button {
        margin-bottom: 10px;
    }
}

/********** ABOUT **********/

.about {
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .about-content {
        display: flex;
        flex-direction: column;
        img {
            width: 100%;
        }
    }
}

/********** CONTACT **********/

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    .form-contact {
        width: 300px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @media only screen and (min-width: $laptop){
            width: 400px;
        } 
        .form-group {
            label {
                color: $white-color;
            }
            textarea {
                height: 150px;
            }
        }
    }
}

/********** REDES **********/

.whatsapp {
    position: fixed;
    width: 40px;
    height: 40px;
    top: auto;
    bottom: 15px;
    right: 15px;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    font-size:20px;
    z-index:100;
    display: flex;
    justify-content: center;
    align-items: center;
    @media only screen and (min-width: $laptop){
        width:50px;
        height:50px;
    }
    .whatsapp-icon {
        @media only screen and (min-width: $laptop){
            font-size: 30px;
        }
    }
}

.whatsapp:hover {
    color: $white-color;
    text-decoration: none;
    opacity: 0.7;
}

.instagram {
    position:fixed;
    width:40px;
    height:40px;
    top: auto;
    bottom: 60px;
    right: 15px;
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    color:#FFF;
    border-radius:50px;
    font-size:20px;
    z-index:100;
    display: flex!important;
    justify-content: center;
    align-items: center;
    @media only screen and (min-width: $laptop){
        width:50px;
        height:50px;
        font-size: 30px;
        bottom: 70px;
    }
}

.instagram:hover {
    color: $white-color;
    text-decoration: none;
    opacity: 0.7;
}