/********** VARIABLES **********/
/********** GENERALES **********/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Quicksand', sans-serif; }

h1 {
  color: #FB4F4F;
  margin: 0;
  font-size: 25px; }

h2 {
  color: #2D7CAD; }

h3 {
  color: #2D7CAD; }

h4 {
  color: #2D7CAD; }

h5 {
  color: #2D7CAD; }

h6 {
  color: #2D7CAD; }

.descripcion {
  color: #2D7CAD; }

li {
  list-style: none; }

a {
  color: #FB4F4F;
  text-decoration: none; }

p {
  color: #808080; }

.boton {
  padding: 10px;
  width: 100px;
  background-color: #FB4F4F;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  font-weight: 700;
  font-size: 12px;
  transition: ease-in .2s; }

.boton:hover {
  cursor: pointer;
  opacity: 0.5;
  transform: scale(1.1); }

.flex-column, .navbar ul li, .navbar ul li a, .main, .productos, .nosotros, .contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

/********** MIXIMS **********/
/********** HEADER **********/
/********** MENU MOBILE **********/
.navbar {
  background-color: #ffffff !important;
  padding: 10px;
  display: flex;
  flex-direction: row;
  margin: auto; }
  @media only screen and (min-width: 1024px) {
    .navbar {
      width: 80%; } }
  .navbar .navbar-brand {
    display: flex;
    flex-direction: row;
    align-items: center; }
    .navbar .navbar-brand .navbar_logo img {
      width: 45px; }
    .navbar .navbar-brand .navbar_brand--name {
      display: flex;
      flex-direction: column;
      height: 45px; }
      .navbar .navbar-brand .navbar_brand--name .descripcion {
        text-align: right;
        font-size: 10px;
        margin: 0; }
  .navbar .redes {
    padding: 0;
    width: 60px; }
    @media only screen and (min-width: 768px) {
      .navbar .redes {
        display: flex;
        justify-content: center; } }
    .navbar .redes ul {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 0; }
      .navbar .redes ul li a {
        justify-self: center;
        transform: translateY(-2px); }
        .navbar .redes ul li a i {
          font-size: 30px;
          color: #2D7CAD; }
  @media only screen and (min-width: 1024px) {
    .navbar .navbar-toggler {
      display: none; } }
  .navbar .navbar-toggler i {
    font-size: 25px;
    color: #FB4F4F; }
  .navbar ul li a {
    padding: 20px 0;
    font-size: 40px;
    color: #FB4F4F !important;
    transition: transform 250ms; }
  @media only screen and (min-width: 1024px) {
    .navbar ul li a:hover {
      opacity: 0.5;
      transform: translateY(-2px); } }
  .navbar .menu-desktop {
    display: none; }
    .navbar .menu-desktop ul li {
      padding: 0 10px; }
      .navbar .menu-desktop ul li a {
        font-size: 20px; }
    @media only screen and (min-width: 1024px) {
      .navbar .menu-desktop {
        display: block; }
        .navbar .menu-desktop .navbar-nav {
          display: flex;
          flex-direction: row; } }

.instagram:hover {
  color: #DD7A9A;
  transform: translateY(0); }
  @media only screen and (min-width: 768px) {
    .instagram:hover {
      transform: translateY(-1px); } }

.whatsapp:hover {
  color: #00BFA5;
  transform: translateY(0); }
  @media only screen and (min-width: 768px) {
    .whatsapp:hover {
      transform: translateY(-1px); } }

/********** MAIN **********/
.main {
  padding-top: 78px; }
  .main .main__titulo {
    padding: 10px; }

/********** FOOTER **********/
.footer img {
  width: 15px; }

.footer p {
  font-size: 12px;
  padding-left: 5px; }

/********** PRODUCTOS **********/
@media only screen and (min-width: 768px) {
  .productos {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center; } }

.productos .producto {
  margin: 0 0 5px 0; }
  @media only screen and (min-width: 768px) {
    .productos .producto {
      margin: 0 2px 5px 2px; } }

.productos .producto__imagen {
  width: 100%; }

.productos .producto__detalle {
  padding: 10px 20px;
  margin: 5px 0; }
  @media only screen and (min-width: 768px) {
    .productos .producto__detalle {
      margin: 3px; } }

/********** MI CUENTA **********/
.compra {
  padding: 10px 0;
  margin: 3px 0; }
  @media only screen and (min-width: 768px) {
    .compra {
      margin: 0 0 5px 0; } }

/********** NOSOTROS **********/
.nosotros {
  height: 90vh; }
  @media only screen and (min-width: 1024px) {
    .nosotros {
      flex-direction: row; } }
  .nosotros img {
    width: 100%; }
    @media only screen and (min-width: 1024px) {
      .nosotros img {
        width: 60%; } }
  .nosotros .nosotrosDescripcion {
    padding: 0 0 0 10px; }
    .nosotros .nosotrosDescripcion p {
      font-size: 20px;
      text-align: justify; }

/********** CONTACTO **********/
.contacto {
  width: 100%; }
  @media only screen and (min-width: 768px) {
    .contacto fieldset {
      width: 60%; } }
  .contacto fieldset legend {
    color: #2D7CAD;
    font-size: 30px; }

/********** 404 **********/
.error-404 {
  width: 400px; }
