/********** VARIABLES **********/
/********** GENERALES **********/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Quicksand', sans-serif; }

.container {
  padding: 0; }

@media (min-width: 576px) {
  .container, .container-sm {
    max-width: none; } }

::-webkit-scrollbar {
  display: none; }

h1 {
  color: #FB4F4F;
  margin: 0;
  font-size: 25px; }

h2 {
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase; }
  @media only screen and (min-width: 768px) {
    h2 {
      font-size: 40px; } }

h2 {
  color: #2D7CAD; }

h3 {
  color: #2D7CAD; }

h4 {
  color: #2D7CAD; }

h5 {
  color: #2D7CAD; }

h6 {
  color: #2D7CAD; }

.descripcion {
  color: #2D7CAD; }

li {
  list-style: none; }

a {
  color: #FB4F4F;
  text-decoration: none; }

p {
  color: #808080; }

.boton {
  padding: 10px;
  width: 100px;
  background-color: #FB4F4F;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  font-weight: 700;
  font-size: 12px; }

.boton:hover {
  cursor: pointer;
  opacity: 0.7; }

.flex-column, .navbar ul li, .navbar ul li a, .main, .productos, .nosotros {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

/********** MIXIMS **********/
/********** HEADER **********/
/********** MENU MOBILE **********/
.navbar {
  height: 12vh;
  display: flex;
  flex-direction: row;
  margin: auto;
  padding: 10px 0;
  background-color: #ffffff !important; }
  @media only screen and (min-width: 768px) {
    .navbar {
      padding: 10px 100px; } }
  .navbar .navbar-brand {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 10px; }
    .navbar .navbar-brand .navbar_logo img {
      width: 45px;
      margin-bottom: 1rem; }
    .navbar .navbar-brand .navbar_brand--name {
      display: flex;
      flex-direction: column; }
      .navbar .navbar-brand .navbar_brand--name p {
        text-align: right;
        font-size: 12px;
        color: #2D7CAD; }
  .navbar .navbar-toggler {
    margin-bottom: 1rem;
    margin-right: 15px; }
    @media only screen and (min-width: 1200px) {
      .navbar .navbar-toggler {
        display: none; } }
    .navbar .navbar-toggler i {
      font-size: 35px;
      color: #FB4F4F; }
  .navbar ul li a {
    font-size: 30px;
    color: #FB4F4F !important;
    transition: transform 250ms; }
  @media only screen and (min-width: 1200px) {
    .navbar ul li a:hover {
      opacity: 0.5;
      transform: translateY(-2px); } }
  .navbar .navbar-collapse {
    background-color: #ffffff; }
    .navbar .navbar-collapse ul li a:hover {
      opacity: 0.5; }
    @media only screen and (min-width: 1200px) {
      .navbar .navbar-collapse {
        display: none; } }
  .navbar .menu-desktop {
    display: none; }
    .navbar .menu-desktop ul li {
      padding: 0 10px; }
      .navbar .menu-desktop ul li a {
        font-size: 20px; }
    .navbar .menu-desktop .cart {
      text-decoration: none; }
      .navbar .menu-desktop .cart a {
        text-decoration: none; }
      .navbar .menu-desktop .cart i {
        color: #FB4F4F;
        font-size: 18px;
        position: relative; }
      .navbar .menu-desktop .cart .prod-cart {
        width: 12px;
        height: 12px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background-color: #ffffff;
        position: absolute;
        top: 12px;
        left: 12px;
        color: #FB4F4F;
        font-size: 10px;
        font-weight: 700; }
    @media only screen and (min-width: 1200px) {
      .navbar .menu-desktop {
        display: block; }
        .navbar .menu-desktop .navbar-nav {
          display: flex;
          flex-direction: row; } }

.back-navbar {
  height: 12vh; }

/********** MAIN **********/
.main-vh-88 {
  height: calc(88vh - 30px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

/********** INDEX **********/
.position-relative {
  position: relative; }

.carousel-item {
  height: 85vh; }

.carousel-item img {
  width: 100vw;
  height: 85vh;
  object-fit: cover; }

.promos-cover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; }
  .promos-cover h2 {
    color: #ffffff;
    font-weight: 700; }
    @media only screen and (min-width: 768px) {
      .promos-cover h2 {
        font-size: 60px; } }
  .promos-cover p {
    color: #ffffff;
    text-align: center;
    padding: 0 10px; }
    @media only screen and (min-width: 768px) {
      .promos-cover p {
        font-size: 30px; } }

/********** FOOTER **********/
.footer {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff; }
  .footer .logo-footer img {
    width: 22px; }
  .footer .text-footer {
    font-size: 12px;
    padding-left: 5px;
    margin-bottom: 0; }

/********** PRODUCTOS **********/
.productos h2 {
  padding: 0; }

@media only screen and (min-width: 768px) {
  .productos {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start; } }

.productos .producto {
  margin: 0 0 5px 0; }
  @media only screen and (min-width: 768px) {
    .productos .producto {
      margin: 0 2px 5px 2px; } }

.productos .producto__detalle {
  padding: 10px 20px;
  margin: 5px 0; }
  @media only screen and (min-width: 768px) {
    .productos .producto__detalle {
      margin: 3px; } }

/********** INGRESAR **********/
.main-ingresar {
  background-image: url(./../../img/cover.jpeg);
  background-position: center;
  background-size: cover; }
  .main-ingresar .ingresar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); }
    .main-ingresar .ingresar h2 {
      color: #ffffff; }
    .main-ingresar .ingresar fieldset {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%; }
      .main-ingresar .ingresar fieldset .form-ingresar {
        width: 90%;
        padding: 10px; }
        .main-ingresar .ingresar fieldset .form-ingresar label {
          color: #ffffff;
          margin-top: 10px; }
        .main-ingresar .ingresar fieldset .form-ingresar input {
          width: 100%; }
        .main-ingresar .ingresar fieldset .form-ingresar button {
          margin-top: 20px; }
        .main-ingresar .ingresar fieldset .form-ingresar button a {
          color: #ffffff; }
        .main-ingresar .ingresar fieldset .form-ingresar a {
          text-decoration: none; }
        .main-ingresar .ingresar fieldset .form-ingresar p {
          color: #ffffff;
          font-weight: 700;
          margin-bottom: 0;
          margin-top: 7px;
          font-weight: 300; }
        .main-ingresar .ingresar fieldset .form-ingresar p:hover {
          opacity: 0.7; }

/********** MI CUENTA **********/
.compra {
  padding: 10px 0;
  min-width: 200px;
  max-width: 300px;
  margin: 3px 0; }
  @media only screen and (min-width: 768px) {
    .compra {
      margin: 0 0 5px 0; } }

/********** NOSOTROS **********/
.nosotros {
  justify-content: flex-start; }
  @media only screen and (min-width: 768px) {
    .nosotros {
      padding: 0 20px;
      height: 83vh; }
      .nosotros .imagen-descripcion {
        padding-top: 50px;
        display: flex;
        align-items: center; } }
  .nosotros img {
    width: 100%; }
    @media only screen and (min-width: 1200px) {
      .nosotros img {
        width: 50%; } }
  .nosotros .nosotrosDescripcion {
    padding: 10px; }
    .nosotros .nosotrosDescripcion p {
      font-size: 20px;
      text-align: justify; }
      @media only screen and (min-width: 768px) {
        .nosotros .nosotrosDescripcion p {
          font-size: 35px; } }

/********** CONTACTO **********/
.main-contacto {
  background-image: url(./../../img/cover.jpeg);
  background-position: center;
  background-size: cover; }
  .main-contacto .contacto {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%; }
    .main-contacto .contacto h2 {
      color: #ffffff;
      text-align: center;
      padding: 10px; }
    @media only screen and (min-width: 768px) {
      .main-contacto .contacto {
        height: 80vh;
        justify-content: flex-start; } }
    @media only screen and (min-width: 1200px) {
      .main-contacto .contacto {
        height: 83vh;
        justify-content: flex-start; } }
    .main-contacto .contacto fieldset {
      width: 90%;
      padding: 10px;
      margin: auto; }
      .main-contacto .contacto fieldset label {
        color: #ffffff; }
      @media only screen and (min-width: 768px) {
        .main-contacto .contacto fieldset {
          width: 60%;
          padding-top: 0; } }
      @media only screen and (min-width: 1200px) {
        .main-contacto .contacto fieldset {
          width: 400px;
          padding-top: 50px; } }

/********** 404 **********/
.error-404 {
  width: 400px; }

/********** REDES **********/
.whatsapp {
  position: fixed;
  width: 40px;
  height: 40px;
  bottom: 40px;
  right: 10px;
  background-color: #25d366;
  color: #FFF;
  border-radius: 50px;
  font-size: 20px;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media only screen and (min-width: 1200px) {
    .whatsapp {
      width: 60px;
      height: 60px; } }
  @media only screen and (min-width: 1200px) {
    .whatsapp .whatsapp-icon {
      font-size: 35px; } }

.whatsapp:hover {
  color: #ffffff;
  text-decoration: none;
  opacity: 0.7; }

.instagram {
  position: fixed;
  width: 40px;
  height: 40px;
  bottom: 85px;
  right: 10px;
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  color: #FFF;
  border-radius: 50px;
  font-size: 20px;
  z-index: 100;
  display: flex !important;
  justify-content: center;
  align-items: center; }
  @media only screen and (min-width: 1200px) {
    .instagram {
      width: 60px;
      height: 60px;
      bottom: 105px;
      font-size: 35px; } }

.instagram:hover {
  color: #ffffff;
  text-decoration: none;
  opacity: 0.7; }
